* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

body {
  display:flex;
  justify-content:center;
  margin:auto;
}

.main-container {
  width: 100%;
  max-width: 1400px;
  padding: 0 50px;
  box-sizing: border-box;
}

h1 {
  font-size:22px;
  font-weight: 900;
}

.section-titre {
  margin: 0;
  font-size: 22px;
}

h2 {
  font-size: 18px;
  font-weight:900;
}

h3 {
  font-size:16px;
  font-weight:900;
}

h4 {
  font-size:16px;
  font-weight:400;
}

p {
  font-size:14px;
}

.carte {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activites .carte {
  padding:0;
}

.carte img {
  object-fit: cover;
}

.carte-titre {
  font-size:16px;
}

.euro {
  font-weight:700;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav a {
  padding-top:49px;
  padding-left: 30px;
  padding-right:30px;
}

nav a:hover {
  border-top: 2px solid #0065FC;
  color: #0065FC;
}

.texte {
  display:flex;
  flex-direction: column;
  padding-bottom:25px;
  gap:8px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color:black;
}

.logo {
  width:60px;
  height: 20px;
  padding-bottom: 100px;
  position:relative;
  top:40px;
}

.recherche input {
  font-size:18px;
  font-weight: 700;
}

.recherche section {
  display:flex;
}

.recherche {
  width:100%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-bottom:35px;

}

.localisation {
  border: 2px solid #f2f2f2;
  border-radius: 15px 0 0 15px;
  background-color: #f2f2f2;
  padding:15px;
}

.recherche .localisation {
  position: relative;
  top:1px;
  left:10px;
}

.recherche-ville { 
  width: 100%;
  height: 44px;
  background-color: white;
  color: black;
  border: 2px solid #f2f2f2;
  padding-right:15px;
  padding-left: 15px;
  position:relative;
  top:1px;
  left:9px;
}

.recherche form {
  display:flex;
}


.rechercher {
  width: 80%;
  height: 50px;
  border: 2px solid #0065FC;
  color: white;
  background-color: #0065FC;
  border-radius: 0 15px 15px 0;
  position:relative;
  top:1px;
  left:7px;
  font-size:18px;
  font-weight:900;
} 

.recherche-icone {
  display:none;
}

.recherche .fa-magnifying-glass {
  color: white;
}

.filtre {
  width:20%;
}

.filtres-bouton {
  display:flex;
  justify-content:flex-start;
  align-items:center;
  gap:4%;
  padding-bottom:30px;
}

.filtres button:hover {
  background-color:#DEEBFF;
}

.filtres button {
  width:100%;
  display:flex;
  align-items: center;
  border: 2px solid #D9D9D9;
  border-radius:25px;
  padding: 13px 24px 13px 24px;
  background-color:white;
  font-size:17px;
  font-weight:900;
  gap:5px;
}

.filtres h1 {
  font-size:18px;
}

.infos {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap:10px;
  padding-bottom:30px;
}

.heb-and-pop {
  display:flex;
  justify-content: space-between;
}

.heb-and-pop section {
  background-color: #F2F2F2;
  border-radius: 20px;
  box-sizing: border-box;
}

.populaires {
  width:30%;
  padding-bottom:34px;
}

.populaires-titre {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-top:41px;
  padding-left:37px;
  padding-right:42px;
}

.populaires-cartes {
  padding-left:37px;
  padding-right:40px;
}

.populaires-cartes .carte {
  display:flex;
  flex-direction: row;
  margin-top:30px;
}

.populaires-cartes img {
  width:37%;
  height: 144px; 
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cartes .carte-contenu {
  width:65%;
  padding-left: 15px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cartes .carte-titre {
  margin-top:10px;
  margin-bottom: 4px;
}

.populaires-cartes .carte-soustexte {
  margin: 0;
}

.populaires-cartes .etoiles {
  margin-bottom: 5px;
}

.hebergements {
  width:65%;
  padding-left:30px;
  padding-right:30px;
}

.hebergements-titre {
  display:flex;
  width:100%;
  padding-top:42px;
  padding-bottom:27px;
  padding-left:15px;
}

.hebergements-soustitre {
  width:100%;
  padding-top:18px;
  padding-left:15px;
}

.hebergements-cartes {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
} 

.hebergements a {
  width:30%;
}

.hebergements-cartes .carte {
  display: flex;
  flex-direction: column;
  margin-bottom:30px;
}

.hebergements-cartes img {
  width:100%;
  height:124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cartes .carte-contenu {
  width:100%;
  padding-left: 5px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cartes .carte-titre {
  margin-top:8px;
  margin-left:5px;
}

.hebergements-cartes .carte-soustexte {
  margin: 0;
  margin-left:5px;
}

.hebergements-cartes .etoiles {
  margin-bottom: 5px;
  margin-left:4px;
}

.activites {
  width:100%;
  height:auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom:60px;
}

.activites a {
  width :23%;
  height:auto;
}

.activites-titre {
  width:100%;
  display:flex;
  padding-top:50px;
  padding-bottom: 20px;
}

.activites-cartes {
  display:flex;
  width:100%;
  gap:45px;
}

.activites-cartes .carte {
  display:flex;
  flex-direction: column;
}

.activites-cartes .carte-contenu {
  display:flex;
  width:100%;
  align-items: center;
  padding:10px;
  height:30px;
}

.activites-cartes img {
  width:100%;
  height:400px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.etoiles {
  display:flex;
  padding-top:10px;
  padding-bottom:10px;
}

#incognito {
  color:#f2f2f2;
}

.pied {
  width:auto;
  height:auto;
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  background-color: #F2F2F2;
  gap:120px;
  padding-top:45px;
  padding-left:70px;
  padding-bottom:4%;
} 

.pied section {
  width:auto;
}

.souspied {
  width:15%;
  display:flex;
  flex-direction: column;
  padding-right:80px;
}

.souspied-titre {
  width:100%;
  display:flex;
  padding-bottom:20px;
}

.souspied-contenu {
  width:100%;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap:10px;
}

.fa-solid {
  color:#0065FC;
  position:relative;
  top:0px;
  right:0px;
}

.filtres .fa-solid {
  position:relative;
  top:1px;
  right:5px;
}

.fa-location-dot {
  color:black;
}

.fa-info {
  border: 2px solid #F2F2F2;
  padding: 5px 10px 5px 10px;
  border-radius:20px;
}

@media (max-width: 991.98px) {

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  nav a {
    padding-top:49px;
    padding-left: 30px;
    padding-right:30px;
  }
  
  nav a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
  }

  .heb-and-pop {
    flex-direction:column;
  }

  .hebergements {
    width: 100%;
  }

  .hebergements-soustitre {
    padding-bottom:45px;
  }

  .populaires {
    width:100%;
    margin-top:53px;
  }

  .populaires a {
    width: 30%;
    margin:0px;
  }

  .populaires-titre {
    padding-top:34px;
  }

  .populaires-cartes {
    display:flex;
    gap:23px;
    padding-right:0;
    padding-bottom:15px;
  }

  .activites-cartes img {
    height:200px;
  }

  .activites-cartes .carte {
    padding: 0;
  }

  .pied {
    padding:45px 30px 4% 70px;
    gap:0px;
  }

}

@media all and (max-width: 767.98px) {

  .main-container {
    padding:0;
  }

  .logo {
    padding-bottom:50px;
  }

  .header {
    display:flex;
    width:100%;
  }

  nav {
    flex-direction: column;
  }

  nav a {
    display:flex;
    justify-content: center;
    width:100%;
    padding-bottom: 25px;
    border-bottom: 3px solid #F2F2F2;
  }

  nav a:hover {
    border-bottom: 3px solid #0065FC;
    border-top:0px;
    color: #0065FC;
  }

  .texte {
    width:80%;
    display:flex;
    padding-left:30px;
    padding-top:30px;
  }

  .recherche {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .localisation {
    position:relative;
    left:22px;
  }
  .recherche form {
    display:flex;
    justify-content: center;
  }

  .recherche-ville {
    width:60%;
  }

  .rechercher {
    width:20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 15px 15px 0px;
  }

  .recherche .localisation {
    position: relative;
    top:1px;
    left:19px;
  }

  .recherche section {
    display:flex;
  }

  .recherche-mot {
    display:none;
  }

  .recherche-icone {
    display:initial;
  }

  .filtres-titre {
    width:100%;
    padding-bottom:0px;
    padding-left:8%;
  }

  .filtres section {
    width:100%;
  }

  .filtres {
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:0;
  }

  .filtres button {
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
    font-size:11px;
    font-weight:900;
    }

  .filtres-bouton {
    display:flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content:center;
  }

  .filtre {
    width:40%;
  }

  .infos {
    padding-left:5%;
    padding-bottom:0;
  }

  .heb-and-pop {
    flex-direction: column-reverse;
  }

  .heb-and-pop section {
    padding:0px;
  }

  .heb-and-pop .hebergements {
    border-radius: 0;
    background-color: white;
  }

  .heb-and-pop .populaires {
    border-radius:0;
  }

  .populaires-titre {
    padding-top:28px;
    padding-bottom:26px;
  }

  .populaires-cartes {
    flex-direction: column;
    align-items: center;
    padding-left:20px;
    padding-right:20px;
    gap:11px;
    padding-bottom:36px;
  }

  .populaires-cartes .carte {
    margin-top:0;
  }

  .populaires a {
    width:100%;
    margin:0px;
  }

  .hebergements-cartes {
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px; 
    gap:12px;
    padding-bottom:80px;
  }

  .hebergements-cartes .carte {
    margin-bottom:0;
    
  }

  .hebergements a {
    width:100%;
    margin:0;
  }

  .hebergements-titre {
    padding-top:26px;
    padding-left:20px;
    padding-bottom:19px;
  }

  .hebergements-soustitre {
    display:none;
  }

  .activites {
    padding-bottom:80px;
  }

  .activites-titre {
    padding-left:22px;
    padding-bottom: 5px;
    width:50%;
  }
  .activites-cartes {
    flex-wrap:wrap;
    align-items:center;
    gap:24px;
    padding-left:19px;
    padding-right:22px;
  }

  .activites section {
    display:flex;
  }

  .activites-cartes img {
    height:140px;
  }

  .activites a {
    width:100%;
    margin:0px;
  }

  .pied {
    flex-direction: column;
    padding-top:45px;
    padding-left:30px;
    padding-bottom:60px;
    gap:40px;
  }
}